{% extends 'main.html' %}
{% block content %}
<div class="datadiv">
  <h3>Booked Room List</h3>
  <form method="post" action="">
    <table style="margin-left: 41px;width: 70%;">
      <tr>
        <td>Room Type:</td>
        <td><select name="roomType" id="roomTypeId" style="width: 84%;">
            <option value="AllType" selected>All Type</option>
            <option value="single">Single</option>
            <option value="double">Double</option>
            <option value="triple">Triple</option>
            <option value="queen">Queen</option>
          </select>
        </td>
        <td>
          <button class="btncreate btn" style="width: 55%;">Search Booked Data</button>
        </td>
      </tr>
    </table>
    <br>
    <br>
    <table border="1" style="margin-left: 41px;width: 90%;">
      <tr>
        <th>Room Name</th>
        <th>Room Price</th>
        <th>Room Type</th>
        <th>User Email</th>
        <th>From Date</th>
        <th>To Date</th>
        <th>Select</th>
        <th>Delete</th>
      </tr>
      {% if BookedRoomData|length == 0 %}
      <tr>
        <td colspan="5" style="text-align: center;"> ------ No GPU Data found ------ </td>
      </tr>
      {% else: %}
      {% for room in BookedRoomData %}
      <tr>
        <td> {{room.rmname}}</td>
        <td>{{room.price}}</td>
        <td>{{room.type}}</td>
        <td>{{room.loginusername}}</td>
        <td>{{room.startdate}}</td>
        <td>{{room.enddate}}</td>
        {%if userdata['email']==room.loginusername%}
        <td><a href="/editbookederoom/{{room.bookingKey}}">&#x270D;</a></td>
        <td><a href="/deletebookederoom/{{room.bookingKey}}"> &#10060;</a></td>
        {% else: %}
        <td></td>
        <td></td>
        {%endif%}
      </tr>
      {% endfor %}
      {%endif%}
    </table>
  </form>
  <br>
  <br>
</div>
{% endblock %}