<!DOCTYPE html>
<html lang="en">

<head>
  <title>Room Login</title>
  <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
  <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-firestore.js"></script>
  <script src="{{ url_for('static', filename='app-setup.js') }}"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>

  <button id="sign-out" {% if signoutdata %} soutvalue={{signoutdata}} {%else%}soutvalue="false" {% endif %} hidden="true">Sign out</button>
  <div id="firebase-auth-container" class="maindiv">

  </div>

</body>

</html>