{% extends 'main.html' %}
{% block content %}
<form method="post" action="/addRoomBookSearchResult">
  <h3>Room Booking</h3>
  <table>
    <tr>
      <td>From Date:</td>
      <td><input type="date" required name="fromDate" placeholder="DD-MM-YYYY" /></td>
    </tr>
    <tr>
      <td>To Date:</td>
      <td><input type="date" required name="toDate" placeholder="DD-MM-YYYY" /></td>
    </tr>
    <tr>
      <td>Room Type:</td>
      <td><select name="roomType" id="roomTypeId">
          <option value="single" selected>Single</option>
          <option value="double">Double</option>
          <option value="triple">Triple</option>
          <option value="queen">Queen</option>
        </select>
      </td>
    </tr>

    <tr>
      <td></td>
      <td><button class="btncreate btn">Submit Room</button></td>
    </tr>
  </table>
</form>
{% endblock %}