{% extends 'main.html' %}
{% block content %}
<div class="datadiv" style="width:92%;">
  <h3>Available Rooms for Booking</h3>
  <form method="post" action="">
    <table border="1" style="width:50%;">


      {% if avlRoom|length == 0 %}
      <tr>
        <td colspan="4" style="text-align: center;">------ No Room found for booking. Please find other date ------</td>
      </tr>
      {% else: %}
      {% for room in avlRoom %}
      <tr>
        <td>
          <div class="roomData">
            <table>
              <tr>
                <td>Room Type: {{room.type}} Room</td>
              </tr>
              <tr>

                <td><img src="/static/{{room.type}}room.jpg" alt="roomimage" width="150px" height="100px">
                </td>
              </tr>
              <tr>
                <td>Room Name: {{room.name}}</td>
              </tr>
              <tr>
                <td>Room Price :{{room.price}}</td>
              </tr>
              <tr>
                <td>
                  <a class="anglebutton" style="width: 21%;background: white;color: black;" href="/addRoomBook?room={{room.name}}&&booking={{room}}">Select Room</a>
                </td>
              </tr>
            </table>
            <br>
          </div>
        </td>
      </tr>
      {% endfor %}
      {%endif%}
    </table>
  </form>
  <br>
  <br>
  <br>

</div>
{% endblock %}