{% extends 'main.html' %}
{% block content %}
<div class="datadiv" style="height: 45%;">
  <form method="post" action="/addRoomBookSearchResult">
    <h3>Room Booking</h3>
    <table style="margin-left: 0%;">
      <tr>
        <td>From Date:</td>
        <td><input type="date" required name="fromDate" placeholder="DD-MM-YYYY" value="{{startdate}}" /></td>
        <td>To Date:</td>
        <td><input type="date" required name="toDate" placeholder="DD-MM-YYYY" /></td>
        <td>Room Type:</td>
        <td>{{booking.type}}
        </td>
      </tr>
      <tr>
        <td><input type="hidden" name="rmname" value="{{rmname}}">
          <input type="hidden" name="booking" value="{{booking}}">
          <input type="hidden" name="roomType" value="{{booking.type}}">
        </td>
        <td></td>
      </tr>
      <tr>
        <td><br></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><button class="btncreate btn" style="width: 60%;">Search Availability</button></td>
      </tr>
    </table>
  </form>
</div>
{% endblock %}